* {
  font-family: sans-serif;
}

@font-face {
    font-family: "Fira Xdi8";
    src: url(https://cdn.jsdelivr.net/gh/edward-martyr/syyon-vencie@1c50ba7/FiraXdi8-Regular.ttf);
}

xd {font-family:"Fira Xdi8 Variable", "Fira Xdi8", "FiraGO", "Source Sans Variable", "MI Lan Pro VF", sans-serif;}

comment {
  color: darkgray; font-size: 80%; display: inline;
}

textarea {
  width:100%;
  min-width: 10rem;
  border-color: #b3cad6;
  border-radius: 0.2em;
}

textarea:focus { 
  outline: none !important;
  border-color: #b3cad6;
  box-shadow: 0 0 10px #b3cad6;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

/* Load the variable font */
@font-face {
    font-family: 'Fira Xdi8 Variable';
    src: url('https://cdn.jsdelivr.net/gh/edward-martyr/syyon-vencie@deb4685/Fira%20Xdi8%20Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
  }
  
  :root {
    --text-weight: 400;
    --text-width: 100;
    --text-slant: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 0 auto;
    max-width: 60rem;
    padding: 3rem;
    text-align: justify;
  }
  
  .demo-text {
    font-family: "Fira Xdi8 Variable", "Fira Xdi8", "FiraGO", "Source Sans Variable", "MI Lan Pro VF", sans-serif;
    font-size: 120%;
    font-weight: var(--text-weight);
    font-variation-settings: "wght" var(--text-weight);
    margin: 0;
  }
  
  .controls {
    margin-top: 3rem;
  }
  
  .slider-container {
    margin-top: -1rem;
  } 
  
  .slider-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
  }
  
  .slider-label {
    font-size: 1.1rem;
    font-style: normal;
    font-variation-settings: "slnt" var(--text-slant);
    font-weight: 650;
  }
  
  .output {
    font-style: normal;
    font-variation-settings: "slnt" var(--text-slant);
    font-weight: 400;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    border-radius: .25rem;
    background: #dee7ec;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #456bd9;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #456bd9;
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
  }
  
  .slider::-moz-range-thumb:active {
    cursor: -moz-grabbing;
  }
  
  .button {
    background: #fff;
    border: 3px solid #dee7ec;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 400;
    opacity: 1;
    padding: .25rem .75rem;
    transition: background ease-in .2s;
  }
  
  .button:hover,
  .button:focus {
    background: #eaf0f3;
}
